<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<head><style>body {
margin: 0; padding: 0; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; color: #424242;
}
img {
max-width: 100%;
}
body {
-webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%;
}
img {
max-width: 100%; display: block; border: 0;
}
</style></head>
<body style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; color: #424242; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; margin: 0; padding: 0;">
<p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6; color: #424242; font-weight: normal; margin: 0 0 10px; padding: 0;">{{define "content"}}
</p>
<table style="width: 100%;">
  <tr>
    <td>
      <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6; color: #424242; font-weight: normal; margin: 0 0 10px; padding: 0;">Hi,</p>

      <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6; color: #424242; font-weight: normal; margin: 0 0 10px; padding: 0;">please find attached your data export.</p>

      <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6; color: #424242; font-weight: normal; margin: 0 0 10px; padding: 0;">
        All the best,
        <br>
        The team from Attractify
      </p>
    </td>
  </tr>
</table>
{{end}}
</body>
</html>
